SECRET_KEY=your-secret-key-here
DEBUG=True

WHITELIST_MODE=False
MINECRAFT_SERVER_IP=play.example.com

DB_NAME=dmsm_db
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=5432

PTERODACTYL_URL=https://panel.example.com
PTERODACTYL_API_KEY=your_api_key
PTERODACTYL_SERVER_ID=your_server_id

RCON_HOST=127.0.0.1
RCON_PORT=25575
RCON_PASSWORD=your_password
RCON_INTERVAL=5
