{% extends "auth_base.html" %}

{% block title %}Сброс пароля - DMSM{% endblock %}

{% block auth_content %}
<h2 class="text-2xl font-bold mb-4 text-center">Сбросить пароль</h2>
<p class="mb-4 text-center text-sm text-gray-600">Для пользователя: {{ nickname }}</p>

<form method="post" action="" class="auth-form">
    {% csrf_token %}
    <input type="hidden" name="nickname" value="{{ nickname }}">
    

    
    <div class="mb-6">
        {{ form.as_p }}
    </div>

    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2.5 px-4 rounded-lg transition-colors shadow-sm">
        Установить новый пароль
    </button>
</form>
{% endblock %}
